/* 
    CSS Rule to specify font-family.

    font-family: 'PT Serif', serif;
    font-family: 'PT Serif Caption', serif; 
*/

* {box-sizing:border-box}

body {
    margin: 0;
    font-family: 'PT Serif', serif;
    font-family: 'PT Serif Caption', serif;
}



/* When dark-mode is active - START*/
body.dark-mode{
    background:#242424;
}

body.dark-mode section {
    background:rgba(0, 0, 0, 1);
    color:white;
}

body.dark-mode nav{
    background:rgba(0, 0, 0, 1);
    color:white;
}


body.dark-mode .overlay .banner .container{
    background:rgba(0, 0, 0, 1);
    color:white;
}


body.dark-mode .overlay {
    background:rgba(0, 0, 0, 0.9);
    color:white;
}


body.dark-mode #testimonial {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.9);
    color: #ffffff;
}

/* When dark-mode is active - ENDS*/


:root {
    --white: #FFFFFF;
    --primary-color: #f53b57;
    --black: #000000;                                                                                                                                                                                                                                
}


/* Title */

#title {
  /* background-image: url("..assets/images/banner.jpg"); */
  background-position: center;
	background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.overlay {
	position: absolute;
	width: 100%;
  height: calc(100% - 53px);
	z-index: 10;
	top: 53;
	left: 0;
	background-color: rgba(0, 0, 0, 0.7);
    /* background: linear-gradient(to right white, black) */
}

.navbar {
    padding: 0 15%;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
}

.navbar-brand {
    text-decoration: none;
    font-weight: bold;
    padding: 10px 0;
    font-size: 1.2rem;
    line-height: 1.5;
    color: #f53b57;
}

.nav-item {
    display: inline-block;
}


.nav-link {
    text-decoration: none;
    padding: 10px 10px;
    font-size: 16px;
    color: #f53b57;
}

.banner {
    position: absolute;
    right: 0;
    padding: 7% 15% 0;
    line-height: 1.5;
}

.banner h1 {
    color: #ffffff;
    text-shadow: 2px 2px 4px #000000;
    margin: 0;
    font-weight: 900;
    font-size: 5rem;
}

.banner span {
    color: #f42544;
    text-shadow: 2px 2px 4px #ffffff;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 0.6rem 1.8rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
}

.btn-dark {
    background-color: #f53b57;
    border: 1px solid #f53b57;
    margin-right: 2%;
}

.btn-dark:hover {
    background-color: #f42544;
}

.btn-light {
    background-color: transparent;
    border: 1px solid #ffffff;
}

.btn-light:hover {
    background-color: #ffffff;
    color: #f53b57;
}

.seeding { 
    color: #ffffff;
}





/* about-section */
.desc {
    text-align: center;
    padding: 7% 15%;
}

.meal-icon {
    width: 7%;
}

.desc h2 {
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1.5;
}

.desc p {
    color: #8f8f8f;
    font-size: 1.4rem;
    line-height: 1.7;
}




/* Works Section */

#works {
  padding-bottom: 20px;
}

.work-img {
  width: 100%;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.dot {
  cursor: pointer;
  height: 12px;
  width: 12px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 0.4s;
  animation-name: fade;
  animation-duration: 0.2s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}





/* testimonial */

#testimonial {
  text-align: center;
  color: #ffffff;
  background-color: #f53b57;
}

.testimonial-img {
  width: 10%;
  border-radius: 100%;
}

.slides {
  background-color: #f53b57;
  display: none;
  padding: 7% 15%;
}

.slides.active {
  display: block;
}

.slides h2 {
  font-size: 3rem;
  line-height: 1.5;
}



/* Menu Page */

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  /* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  
/* footer */

#footer {
    margin: 50px 20px 20px;
    text-align: center;
    padding: 7% 15%;
}

.footer-icon {
    margin: 20px 10px;
}


/* Toggle Button*/

.switch {
    position: fixed;
    /* display: inline-block; */
    display: flex;
    width: 60px;
    height: 28px;
    right: 20px;
    top: 13px; 
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    /* background-color: #2196F3; */
    background-color: #f42544;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #f42544;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }





/* Contact Page */



/* Style inputs, select elements and textareas */
input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

    /* Style the label to display next to the inputs */
    label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    }

    /* Style the submit button */
    input[type=submit] {
    background-color: #f42544;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    margin-top: 2%;
    }

    /* Style the container */
    .banner .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    }

    /* Floating column for labels: 25% width */
    .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
    }

    /* Floating column for inputs: 75% width */
    .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
    }

    /* Clear floats after the columns */
    .row:after {
    content: "";
    display: table;
    clear: both;
    }

    /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
    @media screen and (max-width: 667px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
    }




/* Mobile View */
@media screen and (max-width: 667px) {

    .overlay .banner h1 {

        font-size: 3rem;

    }

    
}




@media only screen and (max-width: 768px) {
  /* For Tablets: */
 
    .banner {
        padding: 15% 15% 0;
        line-height: 1.5;
    }

    .banner h1 {
        font-size: 6rem;
    }

}

@media only screen and (max-width: 360px) {
  /* For mobile phones: */

    .banner {
        padding: 15% 7% 0;
        line-height: 1.5;
    }

    .banner h1 {
        font-size: 2rem;
    }

    .desc {
      padding: 3.5% 7%;
    }

    .meal-icon {
      width: 12%;
    }

    .desc h2 {
      font-size: 1.2rem;
      line-height: 1.5;
    }

    .desc p {
      font-size: 1rem;
      line-height: 1.7;
    }

    .navbar {
        padding: 0 7%;
    }
    
    .navbar-brand {
        text-decoration: none;
        font-weight: bold;
        padding: 10px 0;
        font-size: 1.2rem;
        line-height: 1.5;
        color: #f53b57;
    }
    
    .nav-item {
        display: inline-block;
    }

    .text {
      font-size: 12px;
    }
    

    .slides h2 {
      margin-top: 0;
      font-size: 1.5rem;
      line-height: 1.5; 
    }

    .btn {
      margin-top: 20px;
    }

    #footer {
    font-size: 0.7rem;
    }

}
